<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body>
    <div>
        <% for(let camp of campgrounds){ %>
            <h3>
                <a href="/campgrounds/<%=camp._id%>">
                    <%=camp.title %> - <%= camp.location%>
                </a>
                <a href="/campgrounds/<%=camp._id%>/edit">
                    (Edit)
                </a>
                <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delette Campground</button>
                </form>
            </h3>
            <% } %>
    </div>
</body>
</html>